html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header-pic {
    width: 320px;
    height: auto;
}

.header,
.footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
}

.header-left,
.header-right {
}

.title {
    display: flex;
    background-color: #1f2937;
    color: white;
}

.half-title {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.title,
.upper-body,
.mid-body,
.lower-body {
    flex: 1 0 0;
    justify-content: center;
    align-items: center;
}

.upper-body {
    display: flex;
    flex-direction: column;
}
.mid-body {
    display: flex;
    flex-direction: column;
    background: lightgray;
}

.lower-body {
    display: flex;
}

.lower-body-container {
    display: flex;
    padding: 40px;
    border-radius: 5px;
    background-color: #3b82f6;
}

.lower-button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 12px;
    margin-left: 40px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    max-width: 10%;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    border: 3px solid #3b82f6;
}

.footer {

}

.footer-phrase {
    color: white;
}

.quote {
    color: #71797E;
    font-style: italic;
    font-size: 32px;
}

.signature {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

button {
    color: white;
    background: #3b82f6;
    border: 1px solid #3b82f6;
    border-radius: 5px;
    padding: 5px 12px;
}