html, body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: white;
}

.mid-body {
    background: lightgray;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto','Courier New', Courier, monospace;
}

button {
    color: white;
    background: #3b82f6;
    border: 1px solid #3b82f6;
    border-radius: 5px;
    padding: 5px 12px;
}